div.content {
	text-align: left;
	width: 800px;
}

div.float {
	padding: 5px;
	width: 250px;
}

#formButton {
	text-align: center;
}

.short_ddm {
	max-width: 125px;
}

div.row {
}

.major_ta {
	width: 115px;
	height: 50px;
}

div.half {
	width: 375px;
}

.short_answer {
	max-width:350px;
}

#app_resume {
	min-width: 350px;
}