<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>CODE:2040 - Create</title>
		<link rel="stylesheet" type="text/css" href="main.css" />
		<link rel="stylesheet" type="text/css" href="candidate_view_1.css" />
	</head>
	<body>
		<div class="header">
			<h1 class="site_title">CODE:2040</h1>
			<h2 class="page_title">Step 1: Fill out application</h2>
		</div>
		<div class="content">
			<h3 class="form title">Register</h3>
			<form class="log submission" action="" method="post">
				<div class="row">
					<div class="float">
						<label for="email">Email:</label><br/>
						<input type="text" id="reg_email" name = "email"/>
					</div>
					<div class="elem_containter">	
						<label for="log_password">Create Password:</label><br>
						<input type="password" id="log_password" name = "password">
					</div>
					<div class="elem_containter">	
						<label for="log_retry">Retry Password:</label><br>
						<input type="password" id="log_retry" name = "retry">
					</div>
				</div>
				<div class="row" id="formButton">
					<input type="submit" value="Submit"/>
				</div>
			</form>
		</div>
	</body>
</html>