<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>CODE:2040 - Dashboard</title>
	</head>
	<body>
		<div class="header">
			<h1 class="site_title">CODE:2040</h1>
			<h2 class="page_title">Dashboard</h2>
		</div>
		<div class="content">
			<div class="row">
				<div class="cell">
					<h3 class="title">Step 1:</h3>
					<h4 class="task_header">Review application <a href="">(1 Action Item)</a></h4>
					<div class="stats container">
					</div>
				</div>
				<div class="cell">
					<h3 class="title">Step 2:</h3>
					<h4 class="task_header">Review score <a href="">(1 Action Item)</a></h4>
					<div class="stats container">
					</div>
				</div>
				<div class="cell">
					<h3 class="title">Step 3:</h3>
					<h4 class="task_header">Phone screen <a href="">(1 Action Item)</a></h4>
					<div class="stats container">
					</div>
				</div>
				<div class="cell">
					<h3 class="title">Step 4:</h3>
					<h4 class="task_header">Internship match <a href="">(1 Action Item)</a></h4>
					<div class="stats container">
					</div>
				</div>
				<div class="row cell">
					<a href="">More stats</a>
				</div>
			</div>
			<div class="row">
				<h3 class="title">Search</h3>
				<input type="text" id="search_field"/>
				<button>Search</button>
			</div>
		</div>
	</body>
</html>