<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>CODE:2040 - Task List</title>
	</head>
	<body>
		<div class="header">
			<h1 class="site_title">CODE:2040</h1>
			<h2 class="page_title">Task List: Take Action</h2>
		</div>
		<div class="content">
			<div class="task row">
				<img src="" alt="triangular arrow"/>
				<h4 class="task_header">Step 1: Review application</h4>
				<h4 class="count">1</h4>
			</div>
			<div class="task row">
				<img src="" alt="triangular arrow"/>
				<h4 class="task_header">Step 2: Review scores</h4>
				<h4 class="count">1</h4>
			</div>
			<div class="task row">
				<img src="" alt="triangular arrow"/>
				<h4 class="task_header">Step 3: Phone screens</h4>
				<h4 class="count">1</h4>
			</div>
			<div class="task row">
				<img src="" alt="triangular arrow"/>
				<h4 class="task_header">Step 4: Internship match</h4>
				<h4 class="count">1</h4>
			</div>
		</div>
	</body>
</html>